*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    

}


body{
    background-color:rgb(14, 13, 13);
    color: #fff;
    overflow-x: hidden;
    word-break: break-word;
}


a{
    color:#fff;
    text-decoration: none;
    
}

a:hover{
    color:#fff;
    text-decoration: underline;
}

.main{
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #ffff;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.589);
}

.main::before{
    content: '';
    background-image: url('./backgraund/backgraund-top.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 80vh;
    height: 60vh;
    top: 0;
    left: 0;
    display: inline-block;
    position: fixed;
    z-index: -1;

}

.main::after{
    content: '';
    background-image: url('./backgraund/backgraund-top.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 60vh;
    height: 80vh;
    bottom: 0;
    right: 0;
    display: inline-block;
    position: fixed;
    z-index: -1;
    transform: rotate(180deg);
}

@media only screen and (min-width: 768px){
    .main{
        max-width: 1024px;
        margin: 1rem auto;
    }

    .main::before,
    .main::after {

        width: 70vh
    }
   
}

@media only screen and (max-width: 354px) {
    body {
        font-size: 12px; /* Tamanho de fonte menor para telas muito pequenas */
    }

    .main {
        margin: 0.2rem;
        padding: 0.2rem;
    }

    /* Adicione outras regras de estilo para telas muito pequenas, se necessário */
}